.root {
    -fx-background-color: #3c3f41;

    -fx-accent: #446e9e;
    -fx-focus-color: -fx-accent;
    -fx-base: #3c3f41;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

#lineContainer {
    -fx-background-color: #3c3f41;
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #46494b
}

.text-field {
    -fx-background-color: #46494b;
    -fx-text-inner-color: #bbbbbb;
    -fx-border-color: #606263;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 2;
}

/*
    SPINNER
*/

.spinner {
    -fx-focus-color: none;
    -fx-background-color: transparent;
}

.spinner .text-field {
    -fx-background-color: #46494b;
    -fx-text-inner-color: #bbbbbb;
    -fx-border-color: #606263;
    -fx-border-radius: 3 0 0 3;
    -fx-background-radius: 3 0 0 3;
}

.increment-arrow-button,
.decrement-arrow-button {
    -fx-background-color: #414446;
    -fx-text-fill: #bbbbbb;
    -fx-border-color: #606263;
    /* -fx-background-insets: 0 0 -1 0, 0; */
}

.increment-arrow-button:hover,
.decrement-arrow-button:hover {
    -fx-background-color: #46494b;
}

.increment-arrow-button {
    -fx-border-width: 1 1 0 0;
    -fx-border-radius: 0 3 0 0;
    -fx-background: none;
}

.decrement-arrow-button {
    -fx-border-width: 0 1 1 0;
    -fx-border-radius: 0 0 3 0;
}

.increment-arrow,
.decrement-arrow {
    -fx-background-color: #9b9b9b;
}

.increment-arrow:hover,
.decrement-arrow:hover {
    -fx-background-color: #46494b;
}

.increment-arrow:pressed,
.decrement-arrow:pressed {
    -fx-background-color: #bcbcbc;
}

/*
    BUTTONS
*/

.button,
.toggle-button {
    -fx-background-color: #46494b;
    -fx-text-fill: #bbbbbb;
    -fx-border-color: #606263;
    -fx-border-radius: 3;
    -fx-padding: 0;
}

.button:hover,
.toggle-button:hover {
    -fx-background-color: #55585a;
}

.label {
    -fx-text-fill: #bbbbbb;
}

/*
    MENU
*/

.menu-bar {
    -fx-background-color: #3c3f41;
    -fx-font-weight: bolder;
}


/* .menu-item {
    -fx-background-color: #46494b;
    -fx-text-fill: #bbbbbb;
} */

/* .menu-item:hover {
    -fx-background-color: #3c3f41;
} */

.menu-item .accelerator-text {
    -fx-text-fill: #bbbbbb;
    -fx-font-weight: normal;
}